<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @relationship.product_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @relationship.tag_id %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
