<%= render 'shared/error_messages', :object=>f.object %>
  <div class="field1">
    <%= f.label :current_customer, "Are you currently a customer of Northpoint?" %>
  </div><p>
    <%= f.radio_button :current_customer, 'yes' %>
    <%= f.label :yes%>
    <%= f.radio_button :current_customer, 'no' %>
    <%= f.label :no %>
    </p>
  <div class="field">
    <%= f.label :company_name, "*Company name" %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :customer_name, "*Your name" %>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number, "*Phone number" %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email, "*Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province_or_state, "Province or State:" %>
    <%= f.text_field :province_or_state %>
  </div>
  <div class="field">
    <%= f.label :quote_details, "*Items required:" %>
    <%#= readable_text_area(f,:quote_details, cols=>10, :rows=>20) %>
    <%= f.text_area :quote_details, :rows=>4, :cols=>40%>
  </div>
  <div class="field">
    <%= f.label :estimated_quantity_per_order %>
    <%= f.text_field :estimated_quantity_per_order %>
  </div><br />

