
<header>
<!--%= image_tag "rails.png",  :alt=>"logo" %-->
<nav class="round">
  <div class="logo_image round">
    <%= link_to logo, root_path %>
  </div>
  <ul>
    <!-- about_path created when you do match '/about' in the routes.rb file--> 
    <li><%= link_to "Home", root_path %></li> |
    <li> <%=link_to "About", about_path %></li> |<!--rails figures out the path when we give it a restful user -->
    <li> <%=link_to "Products", products_path%> </li> |
    <li> <%=link_to "Request a Quote", request_quote_path%></li> |
    <li> <%= link_to "Contact Us", contact_path %></li> 
  </ul>
</nav>
</header>
